* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.altura_file {
    height: auto;
}

.botoes {
    display: flex;
    height: 100;
    flex-wrap: wrap;
    justify-content: center;
}